<div class="title" align="center"><h2>Mis Ofertas</h2></div>

<div class="transitions-enabled" id="products">

<div id="biddings">

<% if @biddings_to_list.any? %>
	<% @biddings_to_list.each do |bidding| %>
		
	<div class="box panel panel-default">

		<div class="bidding">
			<p><h3><%= bidding.product.name %></h3></p>
			<p>Subastado por <%= bidding.product.user ? bidding.product.user.name : "Usuario cancelado" %></p>

			<%= link_to ( image_tag bidding.product.image.url ), bidding.product %>
		<p>Tu motivo: <%= bidding.reason %></p>
		<% if bidding.product.has_winner? %>
			<% if bidding.product.winner == current_user %>
				<div style= "color: blue; font-weight:bold; font-size: 20px;">Ganaste la subasta!</div>
			<% else %>
				<div style= "color: red;">El subastador ya ha elegido ganador.</div>
			<% end %>
		<% else %>			
			  <%= simple_form_for ([@product, bidding])  do |f| %>
			    <div class="form-group">
			    	<p>Monto ofrecido por tí: $<%= bidding.amount %></p>
			      <%= f.input :amount, label: false, required: true, input_html: { class: 'form-control'} %>
			    
			    <%= f.button :submit, 'Cambiar', { class: "btn btn-primary" }%>
			  	</div>
			  <% end %>
		<% end %>

		</div>
		</div>

	</div>

	<% end %>
	<% else %>
		<h2><%= "Usted no tiene ofertas" %></h2>
	<% end %>
</div>

</div>
