<div class="answer-questions-list">

	<% @product.inquiries.each do |e| %>
		<div class="inquiry-element">
			<div class="name-tag">
	 			<%= e.user.name %> preguntó:<br>
			</div>
			<%= e.question %><br></div>
			<% if e.answer %>
				<div class="inquiry-reply">
				<div class="name-tag">
					<%= "Respuesta:" if e.answer %><br>
				</div>
				<%= e.answer %></div>
			<% else %>
				<% if @product.state != 'finished' %>
					 <%= simple_form_for([@product, @product.inquiries.find_by(id: e.id)]) do |i| %>
				 	   <%= i.input :answer, required:true, label: false, placeholder: "Escriba su respuesta..."%>
				 	   <%= i.button :submit, 'Responder' %>
				<% end %>
	      <% end %>

			<% end %>
		<hr>
	<% end %>

</div>