<div class="ask-questions-list">

	<%= "inquiries con input de pregunta - usuario oferente" %>

	<% @inquiries = Product.find(params[:id]).inquiries || [] %>

	<% @inquiries.each do |i| %>
		<hr>
		<div class="inquiry-element">
			<%= i.question %>
			<%= i.answer %>
		</div>
		<hr>
	<% end %>

	<div class="inquiry-new">
		<%= simple_form_for([@product, @product.inquiries.build]) do |i| %>
			 <%= i.input :question, label: false, required: true, placeholder: "Escriba su pregunta..."%>
			 <%= i.submit 'Preguntar' %>
		<% end %>
	</div>

		
</div>