<div class="ask-questions-list">

	<% @product.inquiries.each do |i| %>
		<div class="inquiry-element">
			<div class="name-tag">
				<%= i.user.name %> preguntó:<br>
			</div>
			<%= i.question %><br>
			<div class="name-tag">
				<%= "Respuesta:" if i.answer %><br>
			</div>
			<%= i.answer %>
		</div>	
		<hr>
	<% end %>

	<div class="inquiry-new">
		<%= simple_form_for([@product, @product.inquiries.build]) do |i| %>
			 <%= i.input :question, label: false, required: true, placeholder: "Escriba su pregunta..."%>
			 <%= i.button :submit, 'Preguntar', { class: "btn btn-primary" } %>
		<% end %>
	</div>

		
</div>