
<h3>Total de subastas encontradas: <%= @products.size %></h1>
<div class="transitions-enabled" id="products">

<% @products.each do | product | %>
<div class="box panel panel-default">
	<%= link_to (image_tag product.image.url), product %>
	<p>
		<%= link_to product.name, product %>
	</p>
	<p>
		Comisión obtenida: $<%= product.biddings.find {|b| b.is_winner?}.amount * 0.3 %>
	</p>
	<p>
		Concluida el <%= product.biddings.find {|b| b.is_winner?}.updated_at.to_date %>
	</p>
	<br>
<% end %>

</div>

</div>