<%= simple_form_for @product, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.input :image, label: 'Foto del Producto:', required: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :name, label: 'Nombre del Producto:', required: true, placeholder: "Escriba un nombre para el producto.",:error_html => {:id => "name_prod_error"} , input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: 'Descripción del Producto:', placeholder: "Ingrese una descripción detallada del producto a subastar.", input_html: { class: 'form-control' } %>
    <%= f.input :period, label: 'Duración de la subasta en días:', required: true, collection: 15..30, default: 15%>
  </div>
  <div data-no-turbolink>
    <%= f.button :submit, 'Crear Subasta', { class: "btn btn-primary" }%>
    <%= link_to "Cancelar", root_path, class: "btn btn-primary" %>
  </div>
<% end %>