<h2> Subastas concluidas </h2>


<div class="body">
		<div class="search">
	<%= form_tag("/products/concluded", method: "get") do %>
		<%= label_tag(:date_from, "Desde") %>
		<%= date_field(:search_dates, :date_from, value: params[:date_from], required: true) %>
		<%= label_tag(:date_to, "Hasta") %>
		<%= date_field(:search_dates, :date_to, value: params[:date_to], required: true) %>
		<%= submit_tag "Obtener Reporte"%>
	<% end %>
		</div>

	<div class="list">
		<%= render 'concluded' %>
	</div>

</div>