<% if @products.present? %>
<% params[:sort] ||= "name" %>

<div class="sorting-options">Ordenado por <%= (criteria_for params[:sort]) %>
	<div data-no-turbolink>
		  <%= link_to "Ordenar por Nombre", sort: "name", search: params[:search] %> - 
		  <%= link_to "Ordenar por Fecha de Publicación", sort: "created_at", search: params[:search] %> - 
		  <%= link_to "Ordenar por Fecha de Finalización", sort: "due_date", search: params[:search] %>
  </div>
</div>

	<div class="transitions-enabled" id="products">

	  <% @products.each do |product| %>
	    <div class="box panel panel-default">
	      <%= link_to (image_tag product.image.url), product %>
	      <h2>
	      	<%= link_to product.name, product %>
	      	<% if product.state == 'finished' %>
	      		<h2 style= "color: red;"> SUBASTA FINALIZADA</h2>
	      	<% end %>
	      </h2>
	      <hr>
	      <p>Subastado por <%= product.user ? product.user.name : "un usuario dado de baja" %></p>
	      <p>Fecha de finalización: <%= product.due_date.strftime("%d %b %Y") %></p>
	    </div>
	  <% end %>
	  
	</div>

<% else %>
	<% if params[:search] %>
		<p id="no_coincide"> No hay productos que coincidan con <%= params[:search] %> </p>
	<% else %>
		<p id="no_hay"> No hay productos cargados </p>
	<% end %>
<% end %>