<% if @products.present? %>
	<div class="transitions-enabled" id="products">
	  <% @products.each do |product| %>
	    <div class="box panel panel-default">
	      <%= link_to (image_tag product.image.url), product %>
	      <h2>
	      	<%= link_to product.name, product %>
	      </h2>
	      <p>Subastado por <%= product.user.name %></p>
	      <p>Fecha de finalización: <%= product.due_date.strftime("%d %b %Y") %></p>
	    </div>
	  <% end %>
	</div>
<% else %>
	<% if params[:search] %>
		<p id="no_coincide"> No hay productos que coincidan con <%= params[:search] %> </p>
	<% else %>
		<p id="no_hay"> No hay productos cargados </p>
	<% end %>
<% end %>