<h1>Producto subastado: <%= @product.name %></h1>
<%= image_tag @product.image.url(:medium) %>
<p> Descripción: <%= @product.description %></p>

<%= link_to "Volver", root_path, target: "_parent" %>
<%= link_to "Editar", edit_product_path %>
