<div class="row" id="product_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading product_image">
        <%= image_tag @product.image.url %>
      </div>
      
      <div class="panel-body">
        <h1>
          <%= @product.name %>
          <%= link_to "Ganador", product_biddings_path(:product_id => @product.id, :bidding_id => @bidding_id), :class => "ui-button" %>
        </h1>
        <h3>Esta subasta finaliza el día: <%= @product.due_date.strftime("%d %b %Y") %></h3>
        <br>
        <p class="description">
          <%= @product.description %>
          <hr>
        </p>
        <p class="user">
          Subastado por
          <%= @product.user.name %>
        </p>
      </div>

      <div class="panel-footer">
        <div class="row">
          <%= render "biddings/form" %>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <% if user_signed_in? %>
                <% if current_user == @product.user %>
                  <%= link_to "Editar Subasta", edit_product_path, class: "btn btn-default" %>
                  <%= link_to "Borrar", product_path, method: :delete, data: { confirm: "¿Estas seguro?" }, class: "btn btn-default" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer inquiries">
        <%= render 'inquiries/list' %>
      </div> 

    </div>
  </div>
</div>