<div class="row" id="product_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading product_image">
        <%= image_tag @product.image.url %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @product.name %>
        </h1>
        <p class="description">
          <%= @product.description %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              Subastado por
              <%= @product.user.name %>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <% if user_signed_in? %>
                <%= link_to "Editar Subasta", edit_product_path, class: "btn btn-default" %>
                <%= link_to "Borrar", product_path, method: :delete, data: { confirm: "¿Estas seguro?" }, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>