<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Submitted by <%= @product.user.email %></p>

<%= link_to "Volver", root_path, target: "_parent" %>
<%= link_to "Editar", edit_product_path %>